<!DOCTYPE html>
<html>
  <head>
    <title>LinkSpace</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,450,500,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:300,400,500,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,600,650,700">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.main_logo = "<%= image_url('facebook.png') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
